<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.songliao.branchdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI Scheme this doesn't work -->
            <intent-filter android:autoVerify="true">
                <data
                    android:host="ppm-tech-challenge.app.link"
                    android:scheme="ppm-tech-challenge" />

                <data
                    android:host="ppm-tech-challenge-alternate.app.link"
                    android:scheme="ppm-tech-challenge" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <data
                    android:host="open"
                    android:scheme="cuteattack" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <activity android:name=".OtherActivity" />

        <!-- Branch init challenge key -->
        <!--        <meta-data-->
        <!--            android:name="io.branch.sdk.BranchKey"-->
        <!--            android:value="key_live_ck3kK8Ne7mugaQf1G2GNIemfrrdmGZrb" />-->

        <!--  my own key -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_il0FkotjKBsj5PLgH3v3NflktxhPrqsS" />

    </application>

</manifest>